<div class="quests-container">

  <div class="quests-header">
    <h1>📜 Quests</h1>
    <p>Total Quests: {{ questCount() }}</p>
  </div>

  <button class="btn-add-quest" (click)="addQuest()">
    ➕ Add Quest
  </button>

  @if (quests().length === 0) {
    <div class="empty-state">No quests found.</div>
  }

  <div class="quests-list">
    @for (quest of quests(); track quest.id) {

      <div class="quest-card">

        <div class="quest-top" (click)="goToDetail(quest.id)">
          <h3>{{ quest.title }}</h3>
          <span class="xp">{{ quest.xp }} XP</span>
        </div>

        <p class="desc" (click)="goToDetail(quest.id)">
          {{ quest.description }}
        </p>

        <div class="card-actions">
          <button (click)="toggleExpand(quest.id); $event.stopPropagation()">
            {{ isExpanded(quest.id) ? "Collapse" : "Expand" }}
          </button>

          <button class="delete" (click)="deleteQuest(quest.id); $event.stopPropagation()">
            Delete
          </button>
        </div>

        @if (isExpanded(quest.id)) {
          <div class="expanded">
            <strong>Status:</strong>
            {{ quest.completed ? 'Completed' : 'In progress' }}
          </div>
        }

      </div>

    }
  </div>

</div>
